body{ 
    background-color:#A3FFDA;
}
.resultados{
   color:mediumorchid;
   font-family: 'Sriracha', cursive;
   font-size: 35px;
   text-align: center;
 }
 .subtitulos{
  color:black;
  font-family:Nunito;
  font-size: 20px;
}
footer{
  color:mediumorchid;
   font-family: 'Sriracha', cursive;
   font-size: 15px;
   text-align: center;
}
